@import 'nullstyle.scss';

.wrapper{
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    //border: 1px solid red;
    flex: 0 1 20%;
    user-select: none;
    color: white;
}

.buttons ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons{
    // border: 1px solid blue;
    flex: 0 1 30%;
    padding: 20px;
    color: gray;
    font-size: 16px;
    position: relative;
    &__profile-photo{
        max-width: 100%;
        img{
            border-radius: 50%;
            width: 50px;
            border: 1px solid black;
        }
    }
    &__popup{
        max-width: 100%;
        img{
            width: 30px;
        }
    }
    &__notifications{
        max-width: 100%;
        img{
            width: 25px;
        }
    }
}

label div{
    padding: 5px;
}

.for-focus:focus ~ label div{
    box-shadow: 0 0 0 2px rgb(117, 166, 183);
}
.for-focus-popup:focus ~ label {
    box-shadow: 0 0 0 2px rgb(117, 166, 183);
}

.popup-menu{
    position: absolute;
    border: 1px solid lightgray;
    box-shadow: 0 0 20px lightgray;
    //top: -999px;
    top: 85px;
    left: -80px;
    width: 380px;
    opacity: 0;
    overflow: scroll;
    height: 500px;
    display: flex;
    flex-direction: column;
    background: white;
    transition: 0.15s;
    &__more-button{
        align-self: center;
        width: 100%;
        background: rgb(236, 236, 236);
        color: gray;
        text-align: center;
        // padding: 5px 0;
        margin: 10px 0 0 0;
    }
}
#popup:checked ~ .popup-menu{
    //top: 85px;
    opacity: 1;
}

.popup-sub{
    padding: 30px 20px 8px;
    display: none;
}
#more-button:checked ~ .popup-sub{
    display: block;
    background: white;
}
.line{
    width: 100%;
    height: 1px;
    background: lightgray;
    display: none;
}
#more-button:checked ~ .line{
    display: block;
}
#more-button:checked ~ label div{
    display: none;
}

.popup-container{
    display: flex;
    flex-direction: column;
    padding: 30px 20px 8px;
    &__group{
        display: flex;
    }
}
.item{
    flex: 0 1 33.333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 10px;
    // border: 1px solid red;
    &__img{
        max-height: 100%;
        img{
            height: 40px;
        }
    }
}
.item:hover{
    box-shadow: 0 0 0 1px lightgray;
}

li input{
    opacity: 0;
    position: absolute;
}